.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}
.navbar_Container{
width: 100%;
max-width: 1024px;
justify-content: space-between;
align-items: center;
display: flex;
}
.logo{
    color: white;
    font-weight: 500;
}

.navabar_Button{
    border: none;
    margin-left: 20px;
    cursor: pointer;
    padding: 5px 10px;
    color: #003580;
}

